
.filter-vibrant-red {
  filter: invert(11%) sepia(91%) saturate(6690%) hue-rotate(336deg) brightness(96%) contrast(103%);
}

.section {
  min-height: calc(100vh + 64px);
  /* max-height: calc(100vh + 64px); */
  @apply items-center justify-between max-w-full;
}

.section:nth-child(even) {
  @apply bg-neutral-900;
}

.section:nth-child(odd) {
  @apply bg-light-black;
}

* {
  @apply font-montserrat;
}

p {
  @apply font-montserrat text-zinc-400 font-light;
}

h1 {
  @apply font-montserrat text-2xl sm:leading-snug sm:text-4xl md:leading-snug md:text-5xl font-black text-white;
}

h2 {
  @apply font-montserrat text-xl sm:leading-snug sm:text-3xl md:leading-snug md:text-4xl font-black text-white;
}

h3 {
  @apply font-montserrat text-lg sm:leading-snug sm:text-2xl md:leading-snug md:text-3xl font-black text-white;
}

h4 {
  @apply font-montserrat text-base sm:leading-snug sm:text-xl md:leading-snug md:text-2xl font-bold text-white;
}

.intro-image {
  object-fit: cover;
  background: #eb01a5;
  background-image: url("/intro/me.jpg"); /* fallback */
  background-image: url("/intro/me.jpg"), linear-gradient(#eb01a5, #d13531);
} 

.intro-img {
  min-width: 0% !important;
  max-width: fit-content !important;
  width: auto !important;
  margin: auto 0 auto auto !important;
}